Django==5.2.15
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.29.0
psycopg2-binary==2.9.12
redis==8.0.0
django-redis==7.0.0
shortuuid==1.0.13
python-decouple==3.8
